<div class="main-container">
  <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin: 30px;">
    <!-- Titre principale -->
    <h1 >
      <span class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="main-text-first">le meilleur du service  </span>
      <span class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="main-text-midle">NUMERIQUE</span>
      <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <span class="col-xs-12 col-sm-12 col-md-12 col-lg-6 ml-auto" id="main-text-last" >pour vous</span>
      </div>
    </h1>
  </div>
  <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 m-20" style="margin: 30px; margin-top: 80px; padding-right: 35px;">
   <!-- Titre secondaire -->
   <p>
    <span style="text-align: left; font-size: 150%; color: whitesmoke; font-style: italic;">
      Nous nous engageons à vous apporter le meilleur des services numériques,
      à vous satisfaire au dela de vos attentes grâce à nos conseils et à la
       réalisation de vos projets sur mesure et à des coûts imbattables !
    </span>
  </p>
  </div >
  <!-- Introduction corps du site -->
  <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center; margin-top: 100px;">
    <h2>
      <span style="font-size: 150%; margin: auto; padding-right: 35px; padding-left: 35px; color: white !important; font-weight: bold;">On vous accompagne dans votre transformation digitale </span>
    </h2>
  </div>
  <!-- Corps du site -->
  <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 body-container">
    <!-- Première ligne du Corps -->
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <!-- Première colonne -->
      <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 text-body">
        <h4 class="bg-danger p-2 text-center" style="border-radius: 50px; width: 35%;">Design et UX</h4>
        <p>
          <span> Nous travaillons avec vous, pour créer une interface graphique (UI) et une expérience utilisateur (UX) à la fois créatives,
            design et répondant aux contraintes fonctionnelles de votre projet.
          </span>
        </p>
      </div>
      <!-- deuxième colonne -->
      <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 text-body" style="margin-bottom: 10px;">
        <h4 class="bg-danger p-2 text-center" style="border-radius: 50px; width: 30%;">Pour vous</h4>
        <p>
          <span>Nous sommes une équipe de développeurs, designers passionnés par notre métier et fiers des applications web que nous réalisons pour nos clients.
            Que vous soyez une Startup innovante,  une association ou un particulier, nous sommes là pour réaliser le projet dont vous avez besoin
          </span>
        </p>
      </div>
    </div>
    <!-- deuxieme ligne du Corps -->
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <!-- Première colonne -->
      <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-6 text-body">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 rounded" style=" background-color: rgba(255, 255, 255, 1); margin-left: 20px; height: 410px;">
          <img src="https://cdn.pixabay.com/photo/2020/01/22/00/48/entrepreneur-4784289_960_720.jpg" style="width: 400px; height: 400px; padding: 30px; padding-left: 0px;" class="rounded" alt="Présentation de l'équipe">
        </div>
      </div>
       <!-- deuxième colonne -->
       <div class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <!-- premiere ligne -->
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 text-body" style="margin-bottom: 10px;">
          <h4 class="bg-danger p-2 text-center" style="border-radius: 50px; width: 50%;">Engagement total</h4>
          <p>
            <span> Nous aimons nous impliquer totalement dans les projets en proposant la création et l’élaboration de l’UX (User expérience) , puis de l’UI (User Interface),
              du Design pour nous assurer que la conception produit technique et commerciale répond réellement aux besoins de l’audience cible
           </span>
          </p>
        </div>
        <!-- deuxieme ligne -->
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 text-body" style="margin-bottom: 10px;">
          <h4 class="bg-danger p-2 text-center" style="border-radius: 50px; width: 40%;">Collaboration</h4>
          <p>
            <span> Nous sommes convaincus qu’une collaboration étroite dès le début d’une idée est la garantie d’un développement rapide et performant,
              afin d’assurer un succès futur de votre projet. Nous en faisons notre priorité
            </span>
          </p>
        </div>
    </div>
  </div>
</div>
</div>
<!-- Footer-->
<div>
  <nav class="navbar justify-content-between" style="width: 100%; height: 180px; background-color: #393939;">
    <a class="navbar-brand bg-danger rounded p-2">DTB</a>
    <div class = "text-bottom" style="margin: auto;">
      <div style="text-align: center;">
        <span class="text-danger" style="font-size: 1.4em;">
          Contact
        </span>
      </div>

      <div style="text-align: center;">
        <span>
          borisondziegain@hotmail.com
        </span>
      </div>

      <div style="text-align: center;">
        <span>
          07-52-71-85-07 / 01-23-05-78-15
        </span>
      </div>
    </div>
  </nav>
</div>
